.icons {
  display:flex;
  flex-direction:row ;
  justify-content: space-between;
  padding: 10px;
}

.bar {
  display:flex;
  flex-direction:row ;
  justify-content: space-between;
  width: 5%;
  align-items: center;
}

.menu {
  display:flex;
  flex-direction:row ;
  justify-content: space-between;
  width:100%;
  list-style: none;
}

.list {
  width: 95%;
  padding: 10px;
}

.mobail:hover,.customer:hover,.electronic:hover,.homedeals:hover,.fassion:hover,.men:hover,.women:hover,.kids:hover,.gossary:hover {
   border: 1px solid gray;
}
